$small: 768px;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .info  {
    display: flex;
    align-content: center;
    gap: 5px;
  }

  .trans-link {
    display: none;

    @media screen and (max-width: $small) {
      display: flex;
    }
  }
}
