 {"openapi":"3.0.1","info":{"title":"API de reservación","description":"Esta api permite realizar la reserva de pasajes","contact":{"name":"Damian Orellana Fonseca","url":"http://sitrans.transnet.cu/","email":"damian@sitrans.transnet.cu"},"license":{"name":"Apache 2.0","url":"https://www.apache.org/licenses/LICENSE-2.0"},"version":"1.0.0"},"servers":[{"url":"https://gateway.viajando.transnet.cu/reservation/1.0.0"},{"url":"http://gateway.viajando.transnet.cu/reservation/1.0.0"}],"paths":{"/unblockSeat":{"post":{"summary":"Permite desbloquear un asiento o un grupo de asientos en un viaje si todos fueron bloqueados al mismo tiempo","description":"Desbloquear un asiento o un grupo de asientos en un viaje","operationId":"unblockSeat","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnBlock"}}},"required":true},"responses":{"200":{"description":"Ok. Retorna el resultado de la operacion desbloquear asientos","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UnBlockSeat"}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/unblockSeats":{"get":{"summary":"Permite desbloquear los asientos selecionados por un usuario","description":"Desbloquear un grupo de asientos en un viaje","operationId":"unblockSeats","parameters":[{"name":"userId","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"233344"}}],"responses":{"200":{"description":"Ok. Retorna el resultado de la operacion desbloquear asientos","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UnBlockSeat"}}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"},"post":{"summary":"Permite desbloquear un grupo de asientos en un viaje","description":"Desbloquear un grupo de asientos en un viaje","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnBlocks"}}},"required":true},"responses":{"200":{"description":"Ok. Retorna el resultado de la operacion desbloquear asientos","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UnBlockSeat"}}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/insertClient":{"post":{"summary":"Permite agregar un cliente al sistema.","description":"Se registra el nombre y el carnet de identidad del viajero en la BD","operationId":"insertClient","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Client"}}},"required":true},"responses":{"200":{"description":"Ok. Retorna el id generado por el sistema y el dni del cliente","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AddClient"}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/insertClients":{"post":{"summary":"Permite agregar un grupo de clientes al sistema","description":"Se registra el nombre y el carnet de identidad del viajero en la BD del sistema","operationId":"insertClients","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Clients"}}},"required":true},"responses":{"200":{"description":"Ok. Retorna el id generado por el sistema y el dni del cliente","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AddClient"}}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/blockSeat":{"post":{"summary":"Permite bloquear un asiento","description":"Bloquear un asiento","operationId":"blockSeat","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Block"}}},"required":true},"responses":{"200":{"description":"Ok. Retorna el resultado de la operacion bloquear asiento. : La fecha que es devuelta por el bloqueo de asientos debe de guardarla para los siguientes pasos porque se utiliza a la hora de generar boletín y desbloquear asientos.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BlockSeat"}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/travels":{"get":{"summary":"Retona  los viajes que un usuario haya comprado en los últimos 30 días","description":"Retorna la lista de viajes dado el usuario","operationId":"travels","parameters":[{"name":"userId","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"e82a2c87-2618-4ac9-b949-3cb690ed812f"}}],"responses":{"200":{"description":"Ok. Lista de viajes","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Travel"}}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/tickets":{"get":{"summary":"Retona la cantidad de boletos que le quedan por comprar en el día al usuario que está comprando los pasajes","description":"Retorna  la cantidad de boletos que le quedan por comprar en el día a un usuario","operationId":"tickets","parameters":[{"name":"userId","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"e82a2c87-2618-4ac9-b949-3cb690ed812f"}}],"responses":{"200":{"description":"Ok. Lista de viajes","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Quantity"}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/seatMaps":{"get":{"summary":"Retona el plano o mapa de asientos  para un  viaje","description":"Retorna el mapa de asientos","operationId":"seatMaps","parameters":[{"name":"travelId","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"ACD39A0A-E836-4B95-8521-383404B40174"}},{"name":"source","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"90.0"}},{"name":"target","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"114"}},{"name":"userId","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"233344"}}],"responses":{"200":{"description":"Ok. Retorna el mapa de asientos","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Seat"}}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/isEndOfTravel":{"get":{"summary":"Utilizado para saber si un destino es el final de una ruta o viaje","description":"Se utiliza para bloquear la compra si el viaje no es hasta el destino final. Devuelve 0 si no es final y 1 si lo es","operationId":"isEndOfTravel","parameters":[{"name":"travelId","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"ACD39A0A-E836-4B95-8521-383404B40174"}},{"name":"endpoint","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"17"}}],"responses":{"200":{"description":"Ok. Retorna  si un destino es el final o no de un viaje","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EndOfTravel"}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}}},"components":{"schemas":{"UnBlock":{"type":"object","properties":{"seats":{"type":"string","example":"10"},"travelId":{"type":"string","example":"ACD39A0A-E836-4B95-8521-383404B40174"},"date":{"type":"string","example":"2021-04-19 13:03:19.823"},"userId":{"type":"string","example":"233344"}}},"UnBlocks":{"type":"object","properties":{"unBlocks":{"type":"array","items":{"$ref":"#/components/schemas/UnBlock"}}}},"UnBlockSeat":{"type":"object","properties":{"result":{"type":"integer","format":"int32","example":1},"userId":{"type":"string","example":"233344"},"travelId":{"type":"string","example":"ACD39A0A-E836-4B95-8521-383404B40174"},"seats":{"type":"string","example":"10"}}},"Error":{"type":"object","properties":{"code":{"type":"integer","format":"int32","example":500},"message":{"type":"string","example":"Internal server error"}}},"Client":{"type":"object","properties":{"dni":{"type":"string","example":"78120345268"},"name":{"type":"string","example":"Damian Orellada"}}},"Clients":{"type":"object","properties":{"clients":{"type":"array","items":{"$ref":"#/components/schemas/Client"}}}},"AddClient":{"type":"object","properties":{"id":{"type":"string","example":"0B007EFD-A40F-EA11-AC9B-005056921776"},"dni":{"type":"string","example":"78120345268"}}},"Block":{"type":"object","properties":{"seats":{"type":"string","example":"10"},"travelId":{"type":"string","example":"ACD39A0A-E836-4B95-8521-383404B40174"},"source":{"type":"string","example":"90.0"},"target":{"type":"string","example":"114"},"userId":{"type":"string","example":"233344"}}},"BlockSeat":{"type":"object","properties":{"result":{"type":"string","example":"1"},"msg":{"type":"string","example":"OK."},"date":{"type":"string","example":"2021-04-19 13:03:19.823"}}},"Travel":{"type":"object","properties":{"serialNumber":{"type":"string","example":"233935620002972"},"clientName":{"type":"string","example":"PILAR L AMADOR"},"clientDni":{"type":"string","example":"64041105716"},"outputDate":{"type":"string","example":"2020-12-22T14:30:00.000-05:00"},"saleDate":{"type":"string","example":"2020-12-21T11:52:29.263-05:00"},"seat":{"type":"integer","format":"int32","example":10},"price":{"type":"number","format":"double","example":56},"section":{"type":"string","example":"La Habana - Santa Clara"},"route":{"type":"string","example":"La Habana - Santa Clara"},"transportType":{"type":"string","example":"1"},"state":{"type":"string","example":"Confirmado"},"transport":{"type":"string","example":"Omnibus EON (43)"},"midlePrice":{"type":"string","example":"0"},"invoiceId":{"type":"string","example":"281034"}}},"Quantity":{"type":"object","properties":{"quantity":{"type":"integer","format":"int32","example":4}}},"Seat":{"type":"object","properties":{"number":{"type":"integer","format":"int32","example":10},"free":{"type":"boolean","example":false}}},"EndOfTravel":{"type":"object","properties":{"isEnd":{"type":"integer","format":"int32","example":1}}}},"securitySchemes":{"default":{"type":"oauth2","flows":{"implicit":{"authorizationUrl":"https://gateway.viajando.transnet.cu/authorize","scopes":{}}}}},"x-wso2-auth-header":"Authorization"}}