 {"openapi":"3.0.1","info":{"title":"API de Disponibilidad","description":"Esta api permite obtener la disponibilidad de pasajes de la Empresa Viajero","contact":{"name":"Damian Orellana Fonseca","url":"http://sitrans.transnet.cu/","email":"damian@sitrans.transnet.cu"},"license":{"name":"Apache 2.0","url":"https://www.apache.org/licenses/LICENSE-2.0"},"version":"1.0.0"},"servers":[{"url":"https://gateway.viajando.transnet.cu/availability/1.0.0"},{"url":"http://gateway.viajando.transnet.cu/availability/1.0.0"}],"security":[{"default":[]}],"paths":{"/targets":{"get":{"summary":"Retorna los destinos asociados al origen del viaje","description":"Se utiliza para el select de los destinos donde se le pasa por parámetro la clave del origen seleccionado y solo devolverá los destinos para ese origen","operationId":"targets","parameters":[{"name":"code","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"234"}}],"responses":{"200":{"description":"Ok. Retorna la lista de destinos","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Locality"}}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/localities":{"get":{"summary":"Retona todas las localidades  existentes en el Sistema","description":"Retorna la lista de localidades  en el sistema","operationId":"localities","responses":{"200":{"description":"Ok. Retorna la lista de localidades","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Locality"}}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/availabilities":{"get":{"summary":"Retona la disponibilidad de pasajes existentes en el Sistema","description":"Retorna la cantidad de asientos disponibles para un viaje(capac), fecha y hora de salida y llegada, clima(devuelve true si es climatizado y false si no lo es), precio del viaje, tipo(indica si el viaje es Ida o Regreso), denominación(origen-destino, si no hay disponibilidad muestra no hay), medio(devuelve el medio de transporte, Omnibus EON 43 para los omnibus y FerroT#C# para los trenes), via(por donde coge el omnibus).","operationId":"availabilities","parameters":[{"name":"source","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"90.0"}},{"name":"target","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"114"}},{"name":"startDate","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"2021-04-15"}},{"name":"endDate","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"2021-04-28"}}],"responses":{"200":{"description":"Ok. Retorna la lista de localidades","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Availability"}}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/agencies":{"get":{"summary":"Retona todas las agencias de viajes existentes en el Sistema","description":"Retorna la lista de agencias en el sistema","operationId":"agencies","responses":{"200":{"description":"Ok. Retorna la lista de agencias","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Agency"}}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}}},"components":{"schemas":{"Locality":{"type":"object","properties":{"name":{"type":"string"},"code":{"type":"string"}}},"Error":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"Availability":{"type":"object","properties":{"date":{"type":"string"},"arrivalDate":{"type":"string"},"clime":{"type":"boolean"},"price":{"type":"number","format":"double"},"travelType":{"type":"string"},"travelId":{"type":"string"},"denomination":{"type":"string"},"capacity":{"type":"integer","format":"int32"},"transport":{"type":"string"},"transportType":{"type":"string"},"via":{"type":"string"},"available":{"type":"string"}}},"Agency":{"type":"object","properties":{"name":{"type":"string"},"province":{"type":"string"},"address":{"type":"string"},"phone":{"type":"string"},"coordinates":{"type":"string"},"operator":{"type":"string"}}}},"securitySchemes":{"default":{"type":"oauth2","flows":{"implicit":{"authorizationUrl":"https://gateway.viajando.transnet.cu/authorize","scopes":{}}}}},"x-wso2-auth-header":"Authorization"}}