 {"openapi":"3.0.1","info":{"title":"API para las FAQ","description":"Esta api permite obtener las preguntas frecuentes del sistema","contact":{"name":"Damian Orellana Fonseca","url":"http://sitrans.transnet.cu/","email":"damian@sitrans.transnet.cu"},"license":{"name":"Apache 2.0","url":"https://www.apache.org/licenses/LICENSE-2.0"},"version":"1.0.0"},"servers":[{"url":"https://gateway.viajando.transnet.cu/faq/1.0.0"},{"url":"http://gateway.viajando.transnet.cu/faq/1.0.0"}],"security":[{"default":[]}],"paths":{"/faqs":{"get":{"summary":"Retona todas las preguntas frecuentes y sus respuestas","description":"Retorna la lista de preguntas frecuentes y sus respuestas en el sistema","operationId":"faqs","responses":{"200":{"description":"Ok. Retorna la lista de preguntas frecuentes","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FAQ"}}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}}},"components":{"schemas":{"FAQ":{"type":"object","properties":{"question":{"type":"string","example":"¿En qué versión de Android funciona?"},"answer":{"type":"string","example":"En dispositivos móviles con versiones igual o superior a la 4.4.2"}}},"Error":{"type":"object","properties":{"code":{"type":"integer","format":"int32","example":500},"message":{"type":"string","example":"Internal server error"}}}},"securitySchemes":{"default":{"type":"oauth2","flows":{"implicit":{"authorizationUrl":"https://gateway.viajando.transnet.cu/authorize","scopes":{}}}}}}}