 {"openapi":"3.0.1","info":{"title":"Api de pago","description":"Esta api permite registrar y consultar el estado de las ordenes de pago en el sistema","contact":{"name":"Damian Orellana Fonseca","url":"http://sitrans.transnet.cu/","email":"damian@sitrans.transnet.cu"},"license":{"name":"Apache 2.0","url":"https://www.apache.org/licenses/LICENSE-2.0"},"version":"1.0"},"servers":[{"url":"https://gateway.viajando.transnet.cu/payment/1.0.0"},{"url":"http://gateway.viajando.transnet.cu/payment/1.0.0"}],"security":[{"default":[]}],"paths":{"/orders":{"get":{"summary":"Permite obtener una orden de pago en el sistema dado su id","description":"Permite obtener una orden de pago en el sistema dado su id. Las aplicaciones clientes necesitan consultar el estado de la orden para poder continuar con el proceso de pago.","parameters":[{"name":"id","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"e82a2c87-2618-4ac9-b949-3cb690ed812f"}}],"responses":{"200":{"description":"Ok. Retorna la orden en el servidor dado su id.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Order"}}}},"404":{"description":"Recurso no disponible","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"},"post":{"summary":"Permite insertar una orden de pago en el sistema","description":"Se envía los datos del cliente y los boletines para generar la orden de pago. Retorna la orden insertada en el servidor de ordenes esta orden tiene un id unico por el que se recomianda a las aplicaciones clientes consultar el estado (1-creada, 2-precesandose, 3-completado, 4-error) de la orden para saber si se completo u ocurrio algun error.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Order"}}},"required":true},"responses":{"201":{"description":"Ok. Retorna la orden insertada en el servidor de Ordenes esta orden tiene un id unico por el que se recomianda a las aplicaciones clientes consultar el estado de la orden para saber si se completo u ocurrio algun error.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Order"}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"},"delete":{"summary":"Permite eliminar una orden de pago en el sistema dado su id","description":"Permite eliminar una orden de pago en el sistema dado su id. Las ordenes tiene un tiempo de vida de 10 minutos en el servidor de ordendes luego son eliminadas por el mismo servidor.","parameters":[{"name":"id","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"e82a2c87-2618-4ac9-b949-3cb690ed812f"}}],"responses":{"200":{"description":"Ok. Retorna si se elimino o no la orden.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Message"}}}},"404":{"description":"Recurso no disponible","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/pendingInvoices":{"get":{"summary":"Retorna la lista de facturas en proceso o pendientes por procesar para un usuario","description":" Retorna el id de la factura, el tiempo(en segundos) que le queda de vida a esa factura y el importe de esa factura","operationId":"pendingInvoices","parameters":[{"name":"userId","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"e82a2c87-2618-4ac9-b949-3cb690ed812f"}}],"responses":{"200":{"description":"Ok. Lista de facturas en proceso","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PendingInvoice"}}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/requestRefundPayByTikets":{"post":{"summary":"Retorna una lista con las solicitudes que se pudiero o no insertar para el reintegro de los boletines especificados","description":"Retorna una lista con las solicitudes que se pudiero o no insertar para el reintegro de los boletines especificados","operationId":"requestRefundPayByTikets","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefundTickets"}}},"required":true},"responses":{"200":{"description":"Ok. Se inserto una solicitud de reintegro","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Refunds"}}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/requestRefundPayByTiket":{"post":{"summary":"Retorna si se pudo o no insertar la solicitud para el reintegro","description":"Retorna si se pudo o no insertar la solicitud de reintegro dado un boletin","operationId":"requestRefundPayByTiket","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefundTicket"}}},"required":true},"responses":{"200":{"description":"Ok. Se inserto una solicitud de reintegro","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RefundResponse"}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/requestRefundPayByInvoice":{"post":{"summary":"Retorna si se pudo o no insertar la solicitud de reintegro","description":"Retorna si se pudo o no insertar la solicitud de reintegro para la factura","operationId":"requestRefundPayByInvoice","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefundInvoice"}}},"required":true},"responses":{"200":{"description":"Ok. Se inserto una solicitud de reintegro","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RefundResponse"}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}}},"components":{"schemas":{"Order":{"type":"object","properties":{"id":{"type":"string","example":"1-b970ab2c-4b89-4980-bf15-df07375eb8a9"},"tmId":{"type":"string","example":"b970ab2c-4b89-4980-bf15-df07375eb8a9"},"amount":{"type":"number","format":"double","example":169},"externalId":{"type":"integer","format":"int64","example":31},"state":{"type":"integer","format":"int32","example":1},"msg":{"type":"string","example":"Error. Tiene una factura en proceso"},"userId":{"type":"string","example":"F15F7CB5-105D-4EEB-8C96-2606A03F19B0"},"name":{"type":"string","example":"Damian Orellana Fonseca"},"email":{"type":"string","example":"damian@sitrans.transnet.cu"},"appId":{"type":"integer","format":"int32","example":0},"tickets":{"type":"array","items":{"$ref":"#/components/schemas/Ticket"}}}},"RefundTicket":{"type":"object","properties":{"userId":{"type":"string","example":"68152fc9-a4e3-40cb-900e-17340cffc1f3"},"serialNumber":{"type":"string","example":"233926221000002"}}},"RefundInvoice":{"type":"object","properties":{"userId":{"type":"string","example":"68152fc9-a4e3-40cb-900e-17340cffc1f3"},"invoice":{"type":"integer","format":"int32","example":355589}}},"RefundTickets":{"type":"object","properties":{"tickets":{"type":"array","items":{"$ref":"#/components/schemas/RefundTicket"}}}},"RefundResponse":{"type":"object","properties":{"result":{"type":"integer","format":"int32","example":1},"message":{"type":"string","example":"Se inserto la solicitud de reintegro para la factura, se le enviara un correo con los detalles."}}},"Refunds":{"type":"object","properties":{"result":{"type":"integer","format":"int32","example":1},"serialNumber":{"type":"string","example":"233926221000002"}}},"Ticket":{"type":"object","properties":{"clientId":{"type":"string","example":"94EA5ADF-EA20-EA11-A55A-005056921776"},"travelId":{"type":"string","example":"F15F7CB5-105D-4EEB-8C96-2606A03F19B0"},"source":{"type":"string","example":"90.0"},"target":{"type":"string","example":"114"},"seat":{"type":"string","example":"10"},"date":{"type":"string","example":"2021-04-19 13:03:19.823"}}},"Error":{"type":"object","properties":{"code":{"type":"integer","format":"int32","example":500},"message":{"type":"string","example":"Internal server error"}}},"Message":{"type":"object","properties":{"message":{"type":"string","example":"Delete success"}}},"PendingInvoice":{"type":"object","properties":{"id":{"type":"string","example":"233935620002972"},"time":{"type":"integer","format":"int64","example":30},"amount":{"type":"number","format":"double","example":65.3}}}},"securitySchemes":{"default":{"type":"oauth2","flows":{"implicit":{"authorizationUrl":"https://gateway.viajando.transnet.cu/authorize","scopes":{}}}}}}}