 {"openapi":"3.0.1","info":{"title":"API para la seguridad","description":"Esta api garantiza la seguridad y permite adicionar los usuarios en el sistema","contact":{"name":"Damian Orellana Fonseca","url":"http://sitrans.transnet.cu/","email":"damian@sitrans.transnet.cu"},"license":{"name":"Apache 2.0","url":"https://www.apache.org/licenses/LICENSE-2.0"},"version":"1.0.0"},"servers":[{"url":"https://gateway.viajando.transnet.cu/security/1.0.0"},{"url":"http://gateway.viajando.transnet.cu/security/1.0.0"}],"security":[{"default":[]}],"paths":{"/users":{"post":{"summary":"Permite adicionar un usuario","description":"Permite adicionar un usuario al sistema","operationId":"insertUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}},"required":true},"responses":{"200":{"description":"Ok. Retorna el usuario adicionado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/User"}}}},"409":{"description":"User exist","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/setPassword":{"post":{"summary":"Permite cambiar la contraseña del usuario","description":"Permite cambiar la contraseña del usuario","operationId":"setPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetPassword"}}},"required":true},"responses":{"200":{"description":"Ok. Se cambio la contraseña"},"400":{"description":"No Autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/refreshToken":{"post":{"summary":"Permite actualizar el token de acceso otorgado durante el proceso de autenticación","description":"Permite actualizar el token de acceso otorgado durante el proceso de autenticación","operationId":"refreshToken","parameters":[{"name":"token","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"EC5CA034-691E-4554-B813-E10B576A9225"}}],"responses":{"200":{"description":"Ok. Retorna un objeto de tipo token con la identidad del usuario","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Tokens"}}}},"400":{"description":"No Autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/login":{"post":{"summary":"Permite autenticarse en el servidor de identidad","description":"Permite autenticarse en el servidor de identidad. Retorna una identidad digital","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserData"}}},"required":true},"responses":{"200":{"description":"Ok. Retorna un objeto de tipo token con la identidad del usuario","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Tokens"}}}},"400":{"description":"Error al autenticarse. Usuario o contraseña incorrecto","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/recoverPassword":{"get":{"summary":"Permite solicitar un código para cambiar la contraseña del usuario","description":"Para cambiar la contraseña el usuario debe enviar esta solicituda y  el servidor de identidad le envíara por correo una clave o código para cambiar la contraseña la cual el usuario debe introducir junto con la nueva contraseña( ver setPassword)","operationId":"recoverPassword","parameters":[{"name":"userName","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"damian.sitrans.transnet.cu"}}],"responses":{"200":{"description":"Ok. Se envio el código al correo del usuario"},"400":{"description":"No Autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/active":{"get":{"summary":"Permite activar la cuenta de un usuario en el sistema","description":"Permite activar la cuenta de un usuario dado el código de activación enviado por correo al registrarse en el sistema","operationId":"active","parameters":[{"name":"code","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"EC5CA034-691E-4554-B813-E10B576A9225"}}],"responses":{"200":{"description":"Ok. Se activo el usuario"},"400":{"description":"No Autorizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}}},"components":{"schemas":{"User":{"type":"object","properties":{"id":{"type":"string","example":"EC5CA034-691E-4554-B813-E10B576A9225"},"firstName":{"type":"string","example":"Frank Enrique"},"lastName":{"type":"string","example":"Nicolau Gonzalez"},"userName":{"type":"string","example":"frank.nicolau03.gmail.com"},"password":{"type":"string","example":"Pass123456*"},"email":{"type":"string","example":"frank.nicolau03@gmail.com"},"mobile":{"type":"string","example":"52860435"},"locality":{"type":"string","example":"Colombia"},"ci":{"type":"string","example":"89031936085"},"state":{"type":"string","example":"Las tunas"}}},"Error":{"type":"object","properties":{"status":{"type":"integer","format":"int32","example":500},"message":{"type":"string","example":"Internal server error"},"error":{"type":"string","example":"Internal server error"},"path":{"type":"string","example":"/login"}}},"SetPassword":{"type":"object","properties":{"code":{"type":"string","example":"539fe760-6d5f-44eb-951c-af3b0643f752"},"password":{"type":"string","example":"123456*Lolco"}}},"Tokens":{"type":"object","properties":{"accessToken":{"type":"string","example":"eyJ4NXQiOiJNell4TW1Ga09HWXdNV0kwWldObU5EY3hOR1l3WW1NNFpUQTNNV0kyTkRBelpHUXpOR00wWkdSbE5qSmtPREZrWkRSaU9URmtNV0ZoTXpVMlpHVmxOZyIsImtpZCI6Ik16WXhNbUZrT0dZd01XSTBaV05tTkRjeE5HWXdZbU00WlRBM01XSTJOREF6WkdRek5HTTBaR1JsTmpKa09ERmtaRFJpT1RGa01XRmhNelUyWkdWbE5nX1JTMjU2IiwiYWxnIjoiUlMyNTYifQ"},"refreshToken":{"type":"string","example":"EC5CA034-691E-4554-B813-E10B576A9225"},"scope":{"type":"string","example":"openid"},"idToken":{"type":"string","example":"eyJ4NXQiOiJNell4TW1Ga09HWXdNV0kwWldObU5EY3hOR1l3WW1NNFpUQTNNV0kyTkRBelpHUXpOR00wWkdSbE5qSmtPREZrWkRSaU9URmtNV0ZoTXpVMlpHVmxOZyIsImtpZCI6Ik16WXhNbUZrT0dZd01XSTBaV05tTkRjeE5HWXdZbU00WlRBM01XSTJOREF6WkdRek5HTTBaR1JsTmpKa09ERmtaRFJpT1RGa01XRmhNelUyWkdWbE5nX1JTMjU2IiwiYWxnIjoiUlMyNTYifQ"},"tokenType":{"type":"string","example":"Bearer"},"expiresIn":{"type":"integer","format":"int64","example":3600}}},"UserData":{"type":"object","properties":{"userName":{"type":"string","example":"frank.nicolau03.gmail.com"},"password":{"type":"string","example":"123456*Lolco"}}}},"securitySchemes":{"default":{"type":"oauth2","flows":{"implicit":{"authorizationUrl":"https://gateway.viajando.transnet.cu/authorize","scopes":{}}}}}}}