 {"openapi":"3.0.1","info":{"title":"API para la configuración","description":"Esta api permite obtener la configuración del sistema(fecha máxima de venta planificada para bus,trenes etc)","contact":{"name":"Damian Orellana Fonseca","url":"http://sitrans.transnet.cu/","email":"damian@sitrans.transnet.cu"},"license":{"name":"Apache 2.0","url":"https://www.apache.org/licenses/LICENSE-2.0"},"version":"1.0.0"},"servers":[{"url":"https://gateway.viajando.transnet.cu/setting/1.0.0"},{"url":"http://gateway.viajando.transnet.cu/setting/1.0.0"}],"security":[{"default":[]}],"paths":{"/settings":{"get":{"summary":"Retona la configuración del Sistema","description":"Retorna las fechas máxima de venta planificada para bus,trenes y catamaran, la versión disponible de la apk, etc ","operationId":"settings","responses":{"200":{"description":"Ok. Retorna la configuración del sistema","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Settings"}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}}},"components":{"schemas":{"Settings":{"type":"object","properties":{"endBusDate":{"type":"string","example":"2021-12-30 00:00:00.0"},"endTrainDate":{"type":"string","example":"2021-12-30 00:00:00.0"},"endShipDate":{"type":"string","example":"2021-12-30 00:00:00.0"},"lastAppVersion":{"type":"string","example":"5.2"},"versionCode":{"type":"string","example":"520"},"expire":{"type":"integer","format":"int64","example":-1},"forceUp":{"type":"integer","format":"int32","example":1},"state":{"type":"integer","format":"int32","example":1},"offlineDescription":{"type":"string","example":"Fuera de servicio! En Manatenimiento."}}},"Error":{"type":"object","properties":{"code":{"type":"integer","format":"int32","example":500},"message":{"type":"string","example":"Internal server error"}}}},"securitySchemes":{"default":{"type":"oauth2","flows":{"implicit":{"authorizationUrl":"https://gateway.viajando.transnet.cu/authorize","scopes":{}}}}}}}