 {"openapi":"3.0.1","info":{"title":"API para la gestion los datos de los usuarios","description":"Esta api garantiza gestionar la informacion de los usuarios en del sistema","contact":{"name":"Damian Orellana Fonseca","url":"http://sitrans.transnet.cu/","email":"damian@sitrans.transnet.cu"},"license":{"name":"Apache 2.0","url":"https://www.apache.org/licenses/LICENSE-2.0"},"version":"1.0.0"},"servers":[{"url":"https://gateway.viajando.transnet.cu/users/1.0.0"},{"url":"http://gateway.viajando.transnet.cu/users/1.0.0"}],"security":[{"default":[]}],"paths":{"/users":{"get":{"summary":"Permite obtener un usuario dado su nombre","description":"Permite obtene un usuario dado su identificador ","operationId":"userByName","parameters":[{"name":"userName","in":"query","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"damian.sitrans.transnet.cu"}}],"responses":{"200":{"description":"Ok. Retorna el usuario","content":{"*/*":{"schema":{"$ref":"#/components/schemas/User"}}}},"404":{"description":"El usuario no existe","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"},"put":{"summary":"Permite actualizar un usuario dado su id","description":"Permite actualizar un usuario dado su identificador ","operationId":"updateUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}},"required":true},"responses":{"200":{"description":"Ok. ","content":{"*/*":{"schema":{"$ref":"#/components/schemas/User"}}}},"404":{"description":"El usuario no existe","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}},"/users/{id}":{"get":{"summary":"Permite obtener un usuario dado su id","description":"Permite obtene un usuario dado su identificador ","operationId":"user","parameters":[{"name":"id","in":"path","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Ok. Retorna el usuario","content":{"*/*":{"schema":{"$ref":"#/components/schemas/User"}}}},"404":{"description":"El usuario no existe","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Error Interno","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"default":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}}},"components":{"schemas":{"User":{"type":"object","properties":{"id":{"type":"string","example":"EC5CA034-691E-4554-B813-E10B576A9225"},"firstName":{"type":"string","example":"Frank Enrique"},"lastName":{"type":"string","example":"Nicolau Gonzalez"},"userName":{"type":"string","example":"frank.nicolau03.gmail.com"},"password":{"type":"string","example":"Pass123456*"},"email":{"type":"string","example":"frank.nicolau03@gmail.com"},"mobile":{"type":"string","example":"52860435"},"locality":{"type":"string","example":"Colombia"},"ci":{"type":"string","example":"89031936085"},"state":{"type":"string","example":"Las tunas"}}},"Error":{"type":"object","properties":{"status":{"type":"integer","format":"int32","example":500},"message":{"type":"string","example":"Internal server error"},"error":{"type":"string","example":"Internal server error"},"path":{"type":"string","example":"/login"}}}},"securitySchemes":{"default":{"type":"oauth2","flows":{"implicit":{"authorizationUrl":"https://gateway.viajando.transnet.cu/authorize","scopes":{}}}}}}}