$small: 768px;

.ticket-form {
  display: flex;
  flex-direction: column;
  padding: 10px;

  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu-btn{
      background: none;
      margin-bottom: 8px;
      border: none;
      outline: none;
    }
  }

  form {
    display: flex;
    gap: 10px;

    @media screen and (max-width: $small) {
      flex-direction: column;
    }

    mat-form-field {
      width: 100%;

    }
  }
}

.menu-item{
  background: none;
  border: none;
  outline: none;
}
