<mat-toolbar>
  <button mat-icon-button
          aria-label="Toggle sidenav"
          class="toggle-nav"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <div [routerLink]="'/'">
    <img class="logo" src="../../../../../assets/img/css_sprites.png" alt="logo">
  </div>

  <span class="spacer"></span>

  <div class="toolbar-items">
    <a mat-menu-item routerLink="/availability">Disponibilidad</a>
    <a mat-menu-item routerLink="/agencies">Agencias</a>
    <a mat-menu-item routerLink="/faqs">FAQs</a>
    <a mat-menu-item routerLink="/about">Contacto</a>
  </div>

  <a class="user-button" *ngIf="this.authService.isAuthenticated()"
     mat-stroked-button
     [matMenuTriggerFor]="menu"
  >
    Username
    <mat-icon>person</mat-icon>
  </a>
  <a class="user-button" *ngIf="!this.authService.isAuthenticated()"
     routerLink="viajando/login"
     mat-stroked-button
  >
    Inicia sesión
  </a>

  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/viajando/account/profile"><mat-icon>person</mat-icon>Perfil de Usuario</a>
    <a mat-menu-item routerLink="/viajando/account/travelers"><mat-icon>people</mat-icon>Mis Viajeros</a>
    <a mat-menu-item routerLink="/viajando/account/history"><mat-icon>directions_bus</mat-icon>Mis Reservas</a>
    <a mat-menu-item (click)="authService.logout()"><mat-icon>payment</mat-icon>Factura pendiente</a>
    <a mat-menu-item (click)="authService.logout()"><mat-icon>logout</mat-icon>Salir</a>
  </mat-menu>
</mat-toolbar>
