<div class="container">
  <mat-card>
    <mat-card-header>
      <h3 class="header-caption">
        Restablecer Contraseña
      </h3>
    </mat-card-header>
    <mat-card-content>
      <div class="request-code-form" *ngIf="!codeRequested">
        <mat-form-field appearance="outline">
          <mat-label>Dirección de correo</mat-label>
          <input matInput [formControl]="usernameForm!" placeholder="" value="" />
          <mat-error *ngIf="usernameForm!.hasError('email')">
            Debe insertar una dirección de correo válida
          </mat-error>
        </mat-form-field>

        <button
          mat-flat-button
          class="rounded-pill"
          color="primary"
          [disabled]="!usernameForm!.valid"
          (click)="requestCode()"
        >Enviar código</button>
      </div>

      <div *ngIf="codeRequested">

        <form [formGroup]="recoverPasswordForm!" novalidate (ngSubmit)="onSubmit()">

          <mat-form-field appearance="outline">
            <mat-label>Código de verificación</mat-label>
            <input matInput
                   required
                   maxlength="36"
                   formControlName=activationcodeCtrl
                   placeholder=""
                   value="" />
          </mat-form-field>



          <!--password input filed-->
          <mat-form-field class="pswd-field" appearance="outline">
            <mat-label>Nueva contraseña</mat-label>
            <mat-pass-toggle-visibility #toggle matSuffix></mat-pass-toggle-visibility>
            <input matInput #password
                   formControlName=passwordCtrl
                   [type]="toggle.type"
                   required
                   placeholder="Contraseña ">

          </mat-form-field>
          <mat-password-strength #passwordComponentWithConfirmation
                                 [password]="password.value">
          </mat-password-strength>

          <mat-slide-toggle #pass_info class="psw-slide">Mostrar requisitos</mat-slide-toggle>
          <!--Password's strength info-->
          <mat-password-strength-info
            *ngIf="pass_info.checked"
            lowerCaseCriteriaMsg="Debe contener letras en minúscula"
            upperCaseCriteriaMsg="Debe contener letras en mayúscula"
            digitsCriteriaMsg="Debe contener dígitos"
            specialCharsCriteriaMsg="Debe contener caracteres especiales"
            minCharsCriteriaMsg="Debe contener al menos 8 caracteres"
            [passwordComponent]="passwordComponentWithConfirmation">
          </mat-password-strength-info>

          <button
            mat-flat-button
            color="primary"
            [disabled]="!recoverPasswordForm!.valid || !passwordComponentWithConfirmation.passwordFormControl.valid"
          >Validar Cuenta</button>
        </form>

      </div>
    </mat-card-content>

  </mat-card>
</div>
