$small: 768px;
$medium: 992px;

.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  width: 100%;

  .timer-info {
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin: auto 2% 1% auto;
    z-index: 9999;

    .timer {
      background-color: #474747;
      color: white;
      padding: 5px 20px 5px 20px;
      font-size: 25px;
      border-radius: 15px;

      @media screen and (max-width: $small) {
        font-size: 20px;
      }
    }
  }

  .footer-container {
    height: 12vh;
    background: #171f50;

    display: flex;
    justify-content: space-around;

    @media screen and (max-width: $small) {
      display: none;
    }

    .advertisement{
      display: flex;

      .to-hide {
        display: flex;

        @media screen and (max-width: $medium) {
          display: none;
        }

        .mobile-picture {
          width: 80px;
          height: 159px;
          align-self: flex-end;
          object-fit: none;
          object-position: -330px -10px;

          @media screen and (max-height: $small) {
            display: none;
          }
        }

        .text {
          align-self: center;
          margin: 10px 0 0 10px;

          span {
            color: #9bceff;
            font-size: 16px;

            @media screen and (max-height: $small) {
              font-size: 12px;
            }
          }

          p {
            color: white;
            font-size: 13px;
            max-width: 340px;

            @media screen and (max-height: $small) {
              font-size: 11px;
              max-width: 290px;
            }
          }
        }
      }

      a {
        align-self: center;

        .apklis-logo {
          width: 150px;
          height: 48px;
          margin: 10px 0 0 15px;
          object-fit: none;
          object-position: -10px -329px;
        }
      }
    }

    .social-networks {
      display: flex;
      flex-direction: column;
      width: 300px;
      align-self: center;

      .link-icons {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}

.bg-facebook {
  width: 24px;
  height: 24px;
  object-fit: none;
  object-position: -330px -276px;
}

.bg-twitter {
  width: 24px;
  height: 24px;
  object-fit: none;
  object-position: -374px -276px;
}

.bg-telegram {
  width: 24px;
  height: 24px;
  object-fit: none;
  object-position: -180px -329px;
}
