<div class="container">
  <h2>POLÍTICA DE PRIVACIDAD </h2>
  <p>En relación a los datos personales de las personas naturales y jurídicas, usuarios habituales o
    eventuales de los sitios web y aplicaciones móviles de la empresa, SITRANS aplica la siguiente
    política de privacidad:
  </p>
  <h4>
    1. Recolección de datos
  </h4>
  <p>
    SITRANS obtiene los datos personales de los usuarios con el consentimiento del titular de los mismos,
    siempre que ello sea posible. Con ese fin los formularios de SITRANS que requieran de ese tipo
    de información, tienen incorporado un cuadro de diálogo para que el usuario brinde su aceptación
    de las condiciones en la que otorga la información, lo que se considera aceptación de esta política
    de privacidad y consentimiento para que SITRANS incorpore y trate la información
    solicitada en dicho formulario.
  </p>
  <h4>
    2. Uso de los Datos.
  </h4>
  <p>
    SITRANS obtiene los datos personales para fines lícitos y por necesidad de los servicios.
    Los datos serán utilizados principalmente para brindar el servicio o información requeridos
    por el usuario, así como para administrar y proteger los servicios de la red y para asegurar
    nuestros sistemas y mejorar los servicios y el soporte a nuestros clientes, usos que no implican
    compartir esos datos del usuario con terceras personas, excepto en las siguientes situaciones:
  </p>
  <p>
    a) Por la naturaleza inherente del servicio, cuando se trata de servicios públicos;
  </p>
  <p>
    b) Por el consentimiento expreso del usuario;
  </p>
  <p>
    c) Con proveedores de servicios, en aquellos casos en que así se requiere para el cumplimiento del
    servicio que solicita el propio cliente;
  </p>
  <p>
    d) Cuando son solicitados por autoridad competente en correspondencia con la legislación vigente;
  </p>
  <p>
    e)  Con fines jurisdiccionales en caso de que SITRANS considere que se ha violado una condición
    del servicio por parte del usuario.
  </p>
  <p>
    SITRANS en ningún momento utilizarán los datos de los usuarios para actividades diferentes
    a las previstas, a menos que el usuario autorice expresamente a hacerlo.
  </p>
  <h4>
    3. Tratamiento de los Datos.
  </h4>
  <p>
    Los datos personales facilitados a SITRANS son tratados con la más estricta seguridad y
    confidencialidad, adoptándose todas las medidas de seguridad apropiadas que aseguran la conservación
    de los mismos de forma privada y segura conforme a lo establecido en los artículos 48 y 97 de la
    Constitución de la República de Cuba y el articulo 33 del Decreto 310 del Consejo de Ministros,
    a pesar de ello SITRANS no puede otorgar una garantía absoluta sobre dichos datos personales,
    en Internet las medidas de seguridad no son inexpugnables y los usuarios deben ser conscientes de ello.
  </p>
  <h4>
    4.	Conservación de los Datos.
  </h4>
  <p>
    SITRANS conservará los datos personales durante el período de tiempo necesario para el propósito que
    fueron obtenidos, por tanto, esos datos serán eliminados de todos los sistemas cuando hayan dejado
    de ser necesarios para el fin por el cual fueron solicitados y cuando su conservación no sea exigida
    por ninguna disposición legal.
  </p>
  <h4>
    5. Ejercicio de derechos.
  </h4>
  <p>
    SITRANS garantiza a los usuarios el ejercicio de los derechos de acceso, rectificación, supresión o
    inclusión de los datos personales ingresados por ellos y con ese fin los formularios que soliciten
    información de carácter personal también informan la forma en que el usuario puede ejercer los derechos
    antes enunciados, no obstante, si el usuario no recuerda esa información, puede actualizar o eliminar
    información de su registro previa comunicación con comercial@sitrans.transnet.cu
  </p>
  <h4>
    6. Uso de Cookies.
  </h4>
  <p>
    SITRANS podría utilizar cookies en sus sitios con el objetivo de mejorar la experiencia del usuario en
    el empleo del sitio (los “cookies” son pequeños archivos de texto que los sitios web que Usted visita
    guardan en el disco duro de su computadora); no obstante, el usuario puede configurar el programa que
    utiliza para navegar en Internet de forma tal que le avise antes de aceptar cookies, igualmente puede
    configurar el programa para deshabilitar el uso de cookies (aunque esto podría limitarle el acceso a
    alguna de las funcionalidades del sitio) y puede, también, eliminar los archivos cookies que se
    encuentran archivados en su computadora, para lo que debe consultar el manual de software que
    utiliza para navegar en Internet.
  </p>
  <h4>
    7. Obligaciones de los usuarios
  </h4>
  <p>
    Los usuarios, una vez acepten esta política, quedan obligados a garantizar la veracidad y exactitud de
    los datos que comuniquen a los sitio web de SITRANS.

    El usuario que no esté de acuerdo con los términos de esta política de privacidad
    debe abstenerse de utilizar, acceder o interactuar con el sitio web de SITRANS.
  </p>
  <h4>
    8. Modificación.
  </h4>
  <p>
    SITRANS se reserva el derecho de modificar la presente política de privacidad, la cual se publicará
    con la correspondiente fecha de actualización.
  </p>
</div>
