<div class="container">
  <div class="availability-card">
    <app-availability-card></app-availability-card>
  </div>

  <div class="availability-banner">

    <div class="availability-banner-item">
      <div class="availability-banner-item-icon">
        <mat-icon>my_location</mat-icon>
      </div>
      <div class="availability-banner-item-info">
        <div class="availability-banner-item-title">Omnipresente</div>
        <div class="availability-banner-item-text">Consulta la disponibilidad desde el lugar donde estés</div>
      </div>
    </div>

    <div class="availability-banner-item">
      <div class="availability-banner-item-icon">
        <mat-icon>work</mat-icon>
      </div>
      <div class="availability-banner-item-info">
        <div class="availability-banner-item-title">Llega a tu manera</div>
        <div class="availability-banner-item-text">Escoge la modalidad de tu viaje</div>
      </div>
    </div>

    <div class="availability-banner-item">
      <div class="availability-banner-item-icon">
        <mat-icon>favorite</mat-icon>
      </div>
      <div class="availability-banner-item-info">
        <div class="availability-banner-item-title">Siempre contigo</div>
        <div class="availability-banner-item-text">Nuestro orgullo es tu bienestar</div>
      </div>
    </div>

  </div>
</div>
