$medium: 992px;

.container {
  display: flex;
  flex-direction: column;
  width: auto;

  @media screen and (max-width: $medium) {
    margin-left: -10px;
    margin-right: -10px;
  }

  .no-show-again{
    margin: 10px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 15px;

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}
